body {
height: 100vh;
width: 100vh;

display: flex;
justify-content: center;
align-items: center;
background: grey;
}

.container {

background-color: aquamarine;
flex-wrap: wrap;
padding: 20px;
}
#screen{


height: 50px;
width: 250px;
background-color: antiquewhite;
font-size: 40px;
text-align: end;
}

.buttons{

width: 250px;

}

button {
font-size: 40px;
margin: 4px;
width: 50px;
height: 50px;

}
#clear {

    width: fit-content;
}
